<% subjects.each_with_index do | subject, index | %>
  <button class="btn btn-xs btn-info token">
    <span class='icon-token <%= get_subject_icon_class(subject) %>'></span>
    <%= subject['_resolved']['title'] %>
      
  </button>
<% end %>
