<section id="agent_person_agent_topic" class="subrecord-form initialised" data-subrecord-form="true" data-object-name="agent_topic" data-template="template_agent_topic" data-cardinality="zero_to_many">
  <h3 class="subrecord-form-heading">Related Resources</h3>

  <div class="subrecord-form-container">
  	<% form.obj["resources"].each do |r| %>
    	<% unless r['ref'] =~ /^\/repositories\/#{session[:repo_id]}/ %>
      	<% next %>
    	<% else %>
      	<div class="subrecord-form-fields">
        	<%= render_aspace_partial :partial => "resources/linker", :locals => { :form => form, :obj => r }%>
      	</div>
    	<% end %>
  	<% end %>
  </div>
</section>

