#merge-selector-root div.label-only label{
	float: right;
}
#merge-selector-root label.append{
  float: right;
  padding-right: 50px;
}
#merge-selector-root small {
  color: black;
}

.merge-group {
	margin-top: 20px;
	margin-bottom: 20px;
}

.selected-record-list input:checked ~ span {
  font-weight: bold;
}

.merge-group-even {
	background-color: #ffffcc !important;
}

.merge-group-odd {
	background-color: #ffcc99 !important;
}


